config.ini
.ftpconfig
assets/
*.pyc
*.DS_Store
dist/*
mictray/build/*
build/*
!build/*.png
.eggs/*
static/gifs/*
*.mp4
*.gif
package-lock.json
.python-version
static/data2.json
*.map
static/fonts/*
static/*.js*
config/*
.env
static/images/*
config.json
data.json