[Unit]
Description=Chromium Kiosk Mode
After=micboard.service
Requires=micboard.service

[Service]
Environment=XAUTHORITY=/home/pi/.Xauthority
Environment=DISPLAY=:0
WorkingDirectory=/home/pi/Overflow-Micboard
User=pi
Group=pi
ExecStart=/usr/bin/chromium-browser --noerrdialogs --start-fullscreen --disable-infobars --disable-session-crashed-bubble --app=file:///home/pi/Overflow-Micboard/loader.html
Restart=always
RestartSec=30s

[Install]
WantedBy=graphical.target
